# Config file
/lab_1_LU_decomposition/src/config.hpp
/lab_1_LU_decomposition/LU_2048_batch
/lab_1_LU_decomposition/LU_4096_batch
/lab_1_LU_decomposition/LU_8192_batch

/lab_2_Helmholtz_OMP/src/config.hpp
/lab_2_Helmholtz_OMP/Helmholtz_001_batch
/lab_2_Helmholtz_OMP/Helmholtz_0005_batch
/lab_2_Helmholtz_OMP/Helmholtz_0001_batch
/lab_2_Helmholtz_OMP/src/Helmholtz_001
/lab_2_Helmholtz_OMP/src/Helmholtz_0005 
/lab_2_Helmholtz_OMP/src/Helmholtz_0001 

/lab_3_Helmholts_MPI/src/config.hpp
/lab_3_Helmholts_MPI/Helmholtz_MPI_batch

/lab_4_N_body_MPI/src/config.hpp
/lab_4_N_body_MPI/N_body_MPI_batch

/lab_5_N_body_CUDA/src/config.h
/lab_5_N_body_CUDA/N_body_CUDA_batch

# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
