# Config file
/lab_1_LU_decomposition/src/config.hpp
/lab_1_LU_decomposition/LU_2048_batch
/lab_1_LU_decomposition/LU_4096_batch

/lab_2_Helholmtz_OMP/src/config.hpp
/lab_2_Helholmtz_OMP/Helmholtz_001_batch
/lab_2_Helholmtz_OMP/Helmholtz_0001_batch
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
